{%import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %} 


 <!-- Page Header -->
 <link rel="stylesheet" href="static/register_login.css">
<header class="masthead" style="background-image: url('https://cdn.wallpapersafari.com/69/90/2BTFgW.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register</h1>
            <span class="subheading">Little things Makes BIG DAY</span>
          </div>
        </div>
      </div>
    </div>
  </header>
 

  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-md-6 mx-auto content">
          {{ckeditor.load()}}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>

  <div class="sized-box"></div>
