
{% include "login_signup/header.html" %}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Condiment&display=swap" rel="stylesheet">


<br><br><br><br>

<style>
  .edit-btn{
  text-align: right;
  }
  .edit-btn:hover{
  color: white;
</style>


 <form method="POST" action="">
<div class="container">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">student Id</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
       {% if status == 'Grading' %}
      <th scope="col">Grade</th>
       {% endif %}
<!--      <th scope="col"></th>-->

    </tr>
  </thead>


  <tbody>
  {% for i in range(length) %}
    <tr>
      <td>{{students[i].empl_id}}</td>
      <td>{{students[i].f_name}}</td>
      <td>{{students[i].l_name}}</td>

      <td>
        {% if status == 'Grading' %}
        <input  type="number" step="0.1" min="0" max="4" name="{{i}}"  placeholder="Enter Grade">

        {% endif %}
      </td>

<!--      <td>-->
<!--        <a href="{{url_for('class_info', id=id)}}" class="btn btn-outline-primary">Update</a>-->
<!--      </td>-->




    </tr>

    {% endfor %}
  </tbody>






<!--    <tr>-->
<!--      <th scope="row">435341</th>-->
<!--      <td>reaz</td>-->
<!--      <td>shakil</td>-->
<!--      <td>reaz@gmail.com</td>-->
<!--      <td> <p>none</p></td>-->
<!--      <td> <a href="{{url_for('student_details')}}">details</a></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">853241</th>-->
<!--      <td>student3</td>-->
<!--      <td>weweno</td>-->
<!--      <td>what@gmail.com</td>-->
<!--      <td> <p>none</p></td>-->
<!--      <td> <a href="{{url_for('student_details')}}">details</a></td>-->
<!--    </tr>-->
</table>
   <br>

     <div class="edit-btn">
    <a href="{{  url_for('complaint')}}" class="btn btn-outline-danger">
    File Complaint
        <i class="fas fa-pen"></i>
      </a>
    </div>


  <br>
{% if status == 'Grading' %}
  <button class="btn btn-lg btn-outline-primary" type="submit">submit</button>

  {% endif %}

</div>
 </form>
