
{% include "login_signup/header.html" %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Condiment&display=swap" rel="stylesheet">


<br><br><br><br>

<style>
  .edit-btn{
  text-align: right;
  }
  .edit-btn:hover{
  color: white;
</style>

<div class="container">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">student ID</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">email</th>
      <th scope="col">grade</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">132424</th>
      <td>unknown</td>
      <td>solid</td>
      <td>solid@gmail.com</td>
      <td> <p>none</p></td>
    </tr>
    <tr>
      <th scope="row">435341</th>
      <td>reaz</td>
      <td>shakil</td>
      <td>reaz@gmail.com</td>
      <td> <p>none</p></td>
    </tr>
    <tr>
      <th scope="row">853241</th>
      <td>student3</td>
      <td>weweno</td>
      <td>what@gmail.com</td>
      <td> <p>none</p></td>
    </tr>
  </tbody>
</table>
<div class="edit-btn">
    <a class="btn btn-outline-dark">
    Edit
    <i class="fas fa-pen"></i>
  </a>
</div>

</div>