
{% include "login_signup/header.html" %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Condiment&display=swap" rel="stylesheet">


<br><br><br><br>

<style>
  .edit-btn{
  text-align: right;
  }
  .edit-btn:hover{
  color: white;
</style>

<div class="container">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Student ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>


    </tr>
  </thead>
  <tbody>
  {% for student in students %}
    <tr>
      <td>{{student.empl_id}}</td>
      <td>{{student.f_name}}</td>
      <td>{{student.l_name}}</td>

    </tr>
  {% endfor %}

  </tbody>
</table>

    <div class="edit-btn">
    <a href="{{  url_for('complaint')}}" class="btn btn-outline-danger">
    File Complaint
        <i class="fas fa-pen"></i>
      </a>
    </div>
  <br>
  {% if status=="Grading" %}
  <div class="edit-btn">
    <a href="{{  url_for('review', id=clas.id)}}" class="btn btn-outline-success">
    Give Review
        <i class="far fa-star"></i>
      </a>
    </div>
  {% endif %}
    {% if status=="Class Running" or status=="Register"  %}
  <div class="edit-btn">
    <a href="{{  url_for('drop_class', id=clas.id)}}" class="btn btn-outline-danger">
    Drop Class
        <i class="far fa-trash-alt"></i>
      </a>
    </div>
  {% endif %}


</div>