{% extends 'admin/master.html' %}


{% block head_css %}
{{ super() }}

<link href="{{ url_for('static', filename='admin.css') }}" rel="stylesheet">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap" rel="stylesheet">



<style>
    .logo-titles{
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    width: 20%;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;

}



     .no-class{
     height: 300px;
     text-align: center;
     color: grey; font-size: 2.5rem;
     padding: 40px 20px;
     }

     .fa-plus-circle{
     font-size: 30px;
     }
     .fa-plus-circle:hover{
     color: teal;
     cursor: pointer;
     }

     .small-heading{

         font-size: 1.4rem;
      }

      .sized-box{
         height: 60px;
      }

      h6.small-heading{
         color: grey;
         font-weight: bold;
         margin-bottom: 40px;
      }
      .academic-card{
        padding: 20px 20px;
         max-width: 300px;
         margin: 10px 0;
         box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
         border-radius: 10px;
      }
      .achivement-card{
         height: 100px;
         margin: 10px 60px;
         border-radius: 10px;
         box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
      }

      .grey-title{
         color: grey;
         text-align: center;
      }

      .nav-link{
         margin-left: 20px;
         font-size: 1.2rem;
         font-family: 'Merriweather', serif;
      }

         .academic-card{

    text-align: left;
    padding: 20px 40px;
    text-decoration: none;
    color: black;

    }

    .academic-card:hover{
        text-decoration: none;
        color: black;
    }



</style>


{% endblock %}



{% block body %}


<div class="container">
    <section class="top-section">


        <br> <br>

                <h6 class="small-heading">Assigned Classes</h6>




    </section>



<!-- if there is no class it will say there is no current class assign -->

<!--<div class="no-class">-->

<!--    <h1>There is no Current class assign.</h1>-->

<!--</div>-->

<!-- else it will show the list of class that is assign and able to edit also make new class-->
 <div class="row">
            <div class="col-lg-3 col-md-4">

              <div class="academic-card">
                   <h4><strong>Class:</strong> CSC 335</h4>
                  <h4><strong>Instructor:</strong> staff</h4>
                   <h4><strong>seats:</strong> 24/29</h4>
                   <h4><strong>status:</strong> open</h4>
                  <br>
                   <a href="{{url_for('class_edit')}}" class="btn btn-outline-danger">Edit <i class="far fa-edit"></i></a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">

              <div class="academic-card">
                   <h4><strong>Class:</strong> CSC 335</h4>
                  <h4><strong>Instructor:</strong> staff</h4>
                   <h4><strong>seats:</strong> 24/29</h4>
                   <h4><strong>status:</strong> open</h4>
                  <br>
                   <a href="{{url_for('class_edit')}}" class="btn btn-outline-danger">Edit <i class="far fa-edit"></i></a>
              </div>
            </div>
             <div class="col-lg-3 col-md-4">

              <div class="academic-card">
                   <h4><strong>Class:</strong> CSC 335</h4>
                  <h4><strong>Instructor:</strong> staff</h4>
                   <h4><strong>seats:</strong> 24/29</h4>
                   <h4><strong>status:</strong> open</h4>
                  <br>
                   <a href="{{url_for('class_edit')}}" class="btn btn-outline-danger">Edit <i class="far fa-edit"></i></a>
              </div>
            </div>

 </div>

    <br>

    <h6 class="small-heading">New Students</h6>

      <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">email</th>
        <td>Approval</td>


    </tr>
  </thead>
  <tbody>
    <tr>
      <td>unknown</td>
      <td>solid</td>
      <td>solid@gmail.com</td>
                <td>
            <a class="btn btn-outline-success">Accept</a>
            <a href="{{url_for('reject', email='student@gmail.com')}}" class="btn btn-outline-danger">Reject</a>

        </td>

    </tr>
    <tr>
      <td>reaz</td>
      <td>shakil</td>
      <td>reaz@gmail.com</td>
        <td>
            <a class="btn btn-outline-success">Accept</a>
            <a href="{{url_for('reject', email='student@gmail.com')}}" class="btn btn-outline-danger">Reject</a>

        </td>

    </tr>
    <tr>
      <td>student3</td>
      <td>weweno</td>
      <td>what@gmail.com</td>
                <td>
            <a class="btn btn-outline-success">Accept</a>
            <a href="{{url_for('reject', email='student@gmail.com')}}" class="btn btn-outline-danger">Reject</a>

        </td>

    </tr>
  </tbody>
</table>




      <br>

    <h6 class="small-heading">New Instructors</h6>

      <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">email</th>
        <td>Approval</td>


    </tr>
  </thead>
  <tbody>
    <tr>
      <td>unknown</td>
      <td>solid</td>
      <td>solid@gmail.com</td>
                <td>
            <a href="" class="btn btn-outline-success">Accept</a>
            <a class="btn btn-outline-danger">Reject</a>

        </td>

    </tr>
    <tr>
      <td>reaz</td>
      <td>shakil</td>
      <td>reaz@gmail.com</td>
        <td>
            <a class="btn btn-outline-success">Accept</a>
            <a class="btn btn-outline-danger">Reject</a>

        </td>

    </tr>
    <tr>
      <td>student3</td>
      <td>weweno</td>
      <td>what@gmail.com</td>
        <td>
            <a class="btn btn-outline-success">Accept</a>
            <a class="btn btn-outline-danger">Reject</a>

        </td>

    </tr>
  </tbody>
</table>

</div>


{% endblock %}